body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONSTANTES con clases */
/* IDS */
/* #contenedor {
    background-color: peru;
} */

/* CLASES */
.contenedor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #34495e;
    padding: 10px 20px;
    align-items: center;
}

nav span {
    border: 1px solid white;
    width: 55px;
    height: 55px;
    /* border-radius: 5px 10px 20px 5px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;
}

nav div {
    display: flex;
}

nav div a {
    /* color: tomato; */
    /* background-color: rgb(231, 76, 60); */
    /* rgb (0, 255, 125) */
    /* hex */
    /* background-color: #e74c3c; */
    color: #95a5a6;
    text-decoration: none;
    /* margin: 0 10px; */
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: #e74c3c; */
    padding: 10px 20px;
    font-size: 20px;
}

/* HEADER */
header {
    /* margin-top: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: peru; */
    div {
        /* width: 1200px; */
        /* width: 80%;
        margin-left: auto;
        margin-right: auto; */
        /* border: 10px solid red; */
        position: relative;
        img {
            width: 100%;
            display: block;
        }
        h1 {
            background-color: rgba(0,0,0, .3);
            position: absolute;
            /* top, left, right, bottom */
            /* top: 0; */
            margin: 0;
            bottom: 30px;
            right: 40px;
            font-size: 35px;
            width: 60%;
            padding: 10px 15px;
        }
    }
}

/* SECTION */
/* DON'T REPEAT YOURSELF */
section {
    padding-bottom: 50px;
    #contenedor {
        display: flex;
        column-gap: 20px;
        article {
            width: 70%;
            background-color: #1abc9c;
        }
        div {
            width: 30%;
            background-color: #e67e22;
        }
        article, 
        div {
            border-radius: 10px;
            padding: 20px;
        }
    }    
}

