.footer {
    background-color: black;
    &__contenedor {
        &__data {
            display: flex;
            justify-content: center;
            column-gap: 3rem;
            article {
                width: calc(25% - 9rem / 4);
                h3 {
                    font-weight: 200;
                    color: white;
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: .5rem;
                }
                p {
                    color: rgb(163, 163, 163);
                    margin-top: 2rem;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }
                h4 {
                    text-transform: uppercase;
                    color: rgb(163, 163, 163);
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                }
                ul {
                    list-style: none;
                    li {
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                        a {
                            color: rgb(212, 212, 212);
                            font-size: 1.4rem;
                            transition: all .3s;
                            &:hover{
                                color: white;
                                transition: all .3s;
                            }
                        }
                    }
                }
                div {
                    display: flex;
                    column-gap: 2rem;
                    a {
                        background-color: rgb(38, 38, 38);
                        color: white;
                        font-size: 1.4rem;
                        width: 3rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .3s;
                        &:hover {
                            background-color: rgb(64, 64, 64);
                            transition: all .3s;
                        }
                    }
                }
            }
        }
    }
}