@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 26.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.contenedor {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 75em) {
  .contenedor {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 62em) {
  .contenedor {
    max-width: 72rem;
  }
}
@media only screen and (max-width: 48em) {
  .contenedor {
    max-width: 54rem;
  }
}
@media only screen and (max-width: 36em) {
  .contenedor {
    max-width: 36rem;
  }
}
@media only screen and (max-width: 26.25em) {
  .contenedor {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.swal2-popup {
  font-size: 1.6rem;
}

.error {
  color: rgb(234, 88, 12);
  font-size: 1.5rem;
}

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}
.btn svg {
  margin-left: 1.5rem;
  width: 1.5rem;
}
.btn--primary {
  background-color: white;
  color: black;
}
.btn--primary:hover {
  background-color: rgb(230, 230, 230);
  transition: all 0.3s;
}
.btn--secondary {
  background-color: black;
  color: white;
}
.btn--secondary:hover {
  background-color: rgb(20, 20, 20);
  transition: all 0.3s;
}

.blockHeader__box.b-black p {
  font-size: 1.2rem;
}
.blockHeader__box.b-black h2 {
  color: white;
  font-size: 3rem;
}
.blockHeader__box.b-black div {
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  margin-top: 2rem;
}
.blockHeader__box.b-white p {
  color: rgb(163, 163, 163);
}
.blockHeader__box.b-white h2 {
  color: rgb(10, 10, 10);
}
.blockHeader__box.b-white a {
  color: rgb(82, 82, 82);
}
.blockHeader__box p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.blockHeader__box h2 {
  font-size: 3.6rem;
  font-weight: 300;
  text-transform: capitalize;
}
.blockHeader__box a {
  font-size: 1.4rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.blockHeader__box a svg {
  width: 1.5rem;
}
.blockHeader__form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 36em) {
  .blockHeader__form {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}
.blockHeader__form input {
  padding: 1rem 1.5rem;
  width: 30%;
  background-color: transparent;
  border: 0.1rem solid white;
  outline: 0;
  color: white;
}
@media only screen and (max-width: 62em) {
  .blockHeader__form input {
    width: 50%;
  }
}
@media only screen and (max-width: 36em) {
  .blockHeader__form input {
    width: 100%;
  }
}

.rowGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
@media only screen and (max-width: 36em) {
  .rowGroup {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.formGroup:not(:last-child) {
  margin-bottom: 2rem;
}
.formGroup label {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(163, 163, 163);
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
.formGroup input,
.formGroup textarea,
.formGroup select {
  outline: 0;
  border: 0.1rem solid rgb(229, 229, 229);
  font-size: 1.4rem;
  padding: 1rem;
}
.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
  border-color: rgb(10, 10, 10);
  transition: all 0.2s;
}
.formGroup button {
  justify-content: center;
}

.checkBoxGroup h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(163, 163, 163);
  letter-spacing: 0.1rem;
  font-weight: 400;
}
.checkBoxGroup__box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.checkBoxGroup__box div input {
  opacity: 0;
  visibility: hidden;
  width: 0;
}
.checkBoxGroup__box div input:checked + label {
  background-color: rgb(10, 10, 10);
  color: white;
}
.checkBoxGroup__box div label {
  font-size: 1.6rem;
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(229, 229, 229);
  cursor: pointer;
}

.checkBoxActive {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.checkBoxActive input {
  opacity: 0;
  visibility: hidden;
  width: 0;
}
.checkBoxActive input:checked + label {
  background-color: rgb(10, 10, 10);
}
.checkBoxActive input:checked + label::after {
  left: calc(100% - 1.7rem);
}
.checkBoxActive label {
  background-color: #e5e5e5;
  padding: 0.2rem;
  border-radius: 1rem;
  width: 3.5rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}
.checkBoxActive label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.2rem;
  transition: left 0.3s;
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
}
.checkBoxActive h3 {
  font-size: 1.6rem;
  color: rgb(10, 10, 10);
  font-weight: 400;
}

.inputSelect {
  width: calc(17.5% - 1.3333333333rem);
  position: relative;
}
@media only screen and (max-width: 62em) {
  .inputSelect {
    width: calc(27.5% - 1.3333333333rem);
  }
}
@media only screen and (max-width: 36em) {
  .inputSelect {
    width: 100%;
  }
}
.inputSelect div {
  color: rgb(10, 10, 10);
  font-size: 1.4rem;
  border: 0.1rem solid rgb(229, 229, 229);
  padding: 0.8rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputSelect ul {
  position: absolute;
  background-color: white;
  left: 0;
  list-style: none;
  width: 100%;
  border: 0.1rem solid rgb(229, 229, 229);
  border-radius: 0.3rem;
  top: 3rem;
  padding: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  z-index: 1;
}
.inputSelect ul li {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.3rem;
}
.inputSelect ul li:hover {
  background-color: rgb(240, 240, 240);
  cursor: context-menu;
}
.inputSelect ul.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
  top: 4rem;
}

.inputSelect_cart {
  width: calc(22.5% - 2rem);
  position: relative;
}
@media only screen and (max-width: 62em) {
  .inputSelect_cart {
    width: calc(32.5% - 2rem);
  }
}
@media only screen and (max-width: 36em) {
  .inputSelect_cart {
    width: 100%;
  }
}
.inputSelect_cart div {
  color: rgb(10, 10, 10);
  font-size: 1.4rem;
  border: 0.1rem solid rgb(229, 229, 229);
  padding: 0.8rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputSelect_cart ul {
  position: absolute;
  background-color: white;
  left: 0;
  list-style: none;
  width: 100%;
  border: 0.1rem solid rgb(229, 229, 229);
  border-radius: 0.3rem;
  top: 3rem;
  padding: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.inputSelect_cart ul li {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.3rem;
}
.inputSelect_cart ul li:hover {
  background-color: rgb(240, 240, 240);
  cursor: context-menu;
}
.inputSelect_cart ul.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
  top: 4rem;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.nav {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 2;
}
@media only screen and (max-width: 48em) {
  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.nav__contenedor {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.nav__contenedor__menuIcon {
  padding: 1rem;
  display: none;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menuIcon {
    display: block;
  }
}
.nav__contenedor__menuIcon svg {
  width: 2rem;
  color: rgb(23, 23, 23);
}
.nav__contenedor__menuIcon__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgb(254, 254, 252);
  z-index: -1;
  transition: all 0.5s;
}
.nav__contenedor__menuIcon__circle.active {
  width: 250rem;
  height: 250rem;
  transition: all 0.8s;
}
.nav__contenedor--logo {
  font-size: 2.4rem;
  font-weight: 300;
  color: rgb(23, 23, 23);
  letter-spacing: 0.5rem;
}
.nav__contenedor__menu {
  display: flex;
  column-gap: 1rem;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: -1;
  }
  .nav__contenedor__menu.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s;
  }
}
.nav__contenedor__menu--link {
  font-size: 1.2rem;
  color: rgb(82, 82, 82);
  padding: 1rem 1.5rem;
  display: inline-block;
  transition: all 0.3s;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menu--link {
    font-size: 2.4rem;
  }
}
.nav__contenedor__menu--link:hover {
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
}
.nav__contenedor__menuUser {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menuUser .saludo {
    display: none;
  }
}
.nav__contenedor__menuUser--link {
  font-size: 1.2rem;
  color: rgb(23, 23, 23);
  padding: 0 0.5rem;
  display: inline-block;
}
.nav__contenedor__menuUser--link svg {
  color: black;
  width: 2rem;
  stroke-width: 2px;
}

.footer {
  background-color: rgb(10, 10, 10);
}
.footer__contenedor__data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 5rem;
  border-bottom: 0.1rem solid rgb(38, 38, 38);
}
.footer__contenedor__data article {
  width: calc(25% - 2.25rem);
}
@media only screen and (max-width: 62em) {
  .footer__contenedor__data article {
    width: calc(50% - 1.5rem);
  }
}
@media only screen and (max-width: 36em) {
  .footer__contenedor__data article {
    width: 100%;
  }
}
.footer__contenedor__data article h3 {
  font-weight: 200;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.footer__contenedor__data article p {
  color: rgb(163, 163, 163);
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.footer__contenedor__data article h4 {
  text-transform: uppercase;
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer__contenedor__data article ul {
  list-style: none;
}
.footer__contenedor__data article ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__contenedor__data article ul li a {
  color: rgb(212, 212, 212);
  font-size: 1.4rem;
  transition: all 0.3s;
}
.footer__contenedor__data article ul li a:hover {
  color: white;
  transition: all 0.3s;
}
.footer__contenedor__data article div {
  display: flex;
  column-gap: 2rem;
}
.footer__contenedor__data article div a {
  background-color: rgb(38, 38, 38);
  color: white;
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.footer__contenedor__data article div a:hover {
  background-color: rgb(64, 64, 64);
  transition: all 0.3s;
}
.footer__contenedor__copyright p {
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
}
.footer__contenedor__copyright p:not(:last-child) {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.headerTop {
  background-color: rgb(250, 250, 250);
  margin-top: 9.5rem;
}
@media only screen and (max-width: 48em) {
  .headerTop {
    margin-top: 6.6rem;
  }
}
.headerTop__contenedor {
  text-align: center;
}
.headerTop__contenedor p {
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}
.headerTop__contenedor h1 {
  color: rgb(10, 10, 10);
  font-size: 4.8rem;
  font-weight: 200;
  margin-top: 1rem;
}

.header {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.52) 0%, rgba(255, 255, 255, 0.05) 50%), url("../img/portada.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.header__contenedor {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__contenedor--textTop {
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.header__contenedor--title {
  font-size: 7.2rem;
  font-weight: 400;
}
.header__contenedor--title span {
  display: block;
  color: white;
}
.header__contenedor--title span:nth-child(1) {
  font-weight: 200;
}
.header__contenedor--title span:nth-child(2) {
  font-style: italic;
}
.header__contenedor--descri {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

.servicios {
  border-bottom: 1px solid rgba(23, 23, 23, 0.1);
}
.servicios__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5rem;
}
.servicios__contenedor__item {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 36em) {
  .servicios__contenedor__item {
    width: 50%;
  }
}
.servicios__contenedor__item--icon {
  margin-right: 2rem;
  color: rgb(163, 163, 163);
}
.servicios__contenedor__item--icon svg {
  width: 2.5rem;
}
.servicios__contenedor__item--text h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.servicios__contenedor__item--text p {
  font-size: 1.3rem;
  color: rgba(23, 23, 23, 0.5);
}

.homeCategorias__contenedor__box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.homeCategorias__contenedor__box--item {
  width: calc(33.3333333333% - 1rem);
  height: 35rem;
  position: relative;
  overflow: hidden;
}
.homeCategorias__contenedor__box--item:hover img {
  transform: scale(1.1);
  transition: all 0.8s;
}
@media only screen and (max-width: 62em) {
  .homeCategorias__contenedor__box--item {
    width: calc(50% - 0.75rem);
  }
}
@media only screen and (max-width: 36em) {
  .homeCategorias__contenedor__box--item {
    width: 100%;
  }
}
.homeCategorias__contenedor__box--item img {
  transition: all 0.8s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeCategorias__contenedor__box--item h3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  color: rgb(229, 229, 229);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos {
  background-color: rgb(250, 250, 250);
}
.productos__contenedor__box {
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.productos__contenedor__box__item {
  width: calc(25% - 1.5rem);
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.5s;
}
.productos__contenedor__box__item:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}
.productos__contenedor__box__item:hover .productos__contenedor__box__item__top img {
  transform: scale(1.05);
  transition: all 0.3s;
}
.productos__contenedor__box__item:hover .productos__contenedor__box__item__top div {
  opacity: 1;
  transition: all 0.3s;
}
.productos__contenedor__box__item:hover .productos__contenedor__box__item__top form {
  bottom: 1.3rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 75em) {
  .productos__contenedor__box__item {
    width: calc(33.3333333333% - 1.3333333333rem);
  }
}
@media only screen and (max-width: 62em) {
  .productos__contenedor__box__item {
    width: calc(50% - 1rem);
  }
}
@media only screen and (max-width: 36em) {
  .productos__contenedor__box__item {
    width: 100%;
  }
}
.productos__contenedor__box__item__top {
  height: 38rem;
  position: relative;
  overflow: hidden;
}
.productos__contenedor__box__item__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s;
  will-change: transform;
}
.productos__contenedor__box__item__top div, .productos__contenedor__box__item__top span, .productos__contenedor__box__item__top form {
  position: absolute;
}
.productos__contenedor__box__item__top div {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}
.productos__contenedor__box__item__top span {
  font-size: 1.2rem;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  top: 1.3rem;
  left: 1.3rem;
}
.productos__contenedor__box__item__top form {
  background-color: black;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
}
.productos__contenedor__box__item__top form button {
  align-items: center;
  display: flex;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.productos__contenedor__box__item__top form button svg {
  width: 1.7rem;
  margin-right: 1.5rem;
}
.productos__contenedor__box__item__buttom {
  background-color: white;
  padding: 2rem;
}
.productos__contenedor__box__item__buttom h4 {
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.productos__contenedor__box__item__buttom p {
  color: rgb(23, 23, 23);
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.productos__contenedor__box__item__buttom--precio {
  font-size: 1.6rem;
  color: rgb(23, 23, 23);
  font-weight: 300;
  margin-top: 1.5rem;
  display: inline-block;
}
.productos__contenedor__box__item__buttom__tallas {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.productos__contenedor__box__item__buttom__tallas span {
  border: 0.1rem solid rgb(229, 229, 229);
  color: rgb(163, 163, 163);
  padding: 0.3rem 0.8rem;
}

.contenidoProd__contenedor__form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.contenidoProd__contenedor__form__inputSearch {
  width: calc(65% - 1.3333333333rem);
  position: relative;
}
@media only screen and (max-width: 62em) {
  .contenidoProd__contenedor__form__inputSearch {
    width: 100%;
  }
}
.contenidoProd__contenedor__form__inputSearch i {
  position: absolute;
  font-size: 1.6rem;
  color: rgb(163, 163, 163);
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.contenidoProd__contenedor__form__inputSearch input {
  width: 100%;
  border: 1px solid rgb(229, 229, 229);
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  outline: 0;
  padding: 0.8rem 1.5rem 0.8rem 4.5rem;
}
.contenidoProd__contenedor__form__inputSearch input:focus {
  border-color: rgb(0, 0, 0);
}
.contenidoProd__contenedor__filtrosTags {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.contenidoProd__contenedor__filtrosTags span {
  font-size: 1.4rem;
  color: rgb(10, 10, 10);
  background-color: rgb(245, 245, 245);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}
.contenidoProd__contenedor__filtrosTags span i {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.contenidoProd__contenedor__productos--cantidad {
  font-size: 1.4rem;
  color: rgb(163, 163, 163);
}

.cart {
  margin-top: 9.5rem;
  padding-bottom: 9.5rem;
}
.cart__contenedor__header {
  font-size: 3rem;
  font-weight: 300;
  color: rgb(10, 10, 10);
}
.cart__contenedor__header i {
  font-weight: 600;
  font-size: 2rem;
  color: rgba(10, 10, 10, 0.5);
  margin-right: 1rem;
}
.cart__contenedor__box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5rem;
  align-items: start;
}
@media only screen and (max-width: 62em) {
  .cart__contenedor__box {
    grid-template-columns: 1fr;
  }
}
.cart__contenedor__box__producto__item {
  display: grid;
  grid-template-columns: 5fr 1fr;
  border-bottom: 0.1rem solid rgb(240, 240, 240);
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.cart__contenedor__box__producto__item__data {
  display: flex;
  gap: 3rem;
}
.cart__contenedor__box__producto__item__data__imgBox {
  width: 11rem;
  height: 14rem;
}
.cart__contenedor__box__producto__item__data__imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart__contenedor__box__producto__item__data__col {
  width: 100%;
}
.cart__contenedor__box__producto__item__data__col--nombre {
  font-size: 1.2rem;
  color: rgb(163, 163, 163);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.cart__contenedor__box__producto__item__data__col--descri {
  font-size: 1.8rem;
  color: rgb(10, 10, 10);
  font-weight: 300;
  margin-top: 0.5rem;
}
.cart__contenedor__box__producto__item__data__col__selects {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.cart__contenedor__box__producto__item__data__col__canti {
  border: 1px solid rgb(229, 229, 229);
  width: 12rem;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cart__contenedor__box__producto__item__data__col__canti span {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.cart__contenedor__box__producto__item__data__col__canti .menos, .cart__contenedor__box__producto__item__data__col__canti .mas {
  cursor: pointer;
}
.cart__contenedor__box__producto__item__data__col__canti .menos:hover, .cart__contenedor__box__producto__item__data__col__canti .mas:hover {
  background-color: rgb(250, 250, 250);
}
.cart__contenedor__box__producto__item__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: flex-end;
}
.cart__contenedor__box__producto__item__actions .close {
  color: rgb(163, 163, 163);
  font-size: 1.6rem;
  cursor: pointer;
}
.cart__contenedor__box__producto__item__actions .close:hover {
  color: rgb(10, 10, 10);
}
.cart__contenedor__box__producto__item__actions .subTotal {
  font-size: 1.8rem;
  color: rgb(10, 10, 10);
  font-weight: 300;
}
.cart__contenedor__box__resumen {
  background-color: rgb(250, 250, 250);
  padding: 3rem 2rem;
}
.cart__contenedor__box__resumen--title {
  color: rgb(10, 10, 10);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 3rem;
}
.cart__contenedor__box__resumen__subtotal, .cart__contenedor__box__resumen__envio, .cart__contenedor__box__resumen__total {
  display: flex;
  justify-content: space-between;
}
.cart__contenedor__box__resumen__subtotal, .cart__contenedor__box__resumen__envio {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cart__contenedor__box__resumen__subtotal span, .cart__contenedor__box__resumen__envio span {
  font-size: 1.4rem;
}
.cart__contenedor__box__resumen__subtotal span:first-child, .cart__contenedor__box__resumen__envio span:first-child {
  color: rgb(115, 115, 115);
}
.cart__contenedor__box__resumen__subtotal span:last-child, .cart__contenedor__box__resumen__envio span:last-child {
  color: rgb(10, 10, 10);
}
.cart__contenedor__box__resumen hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  border-top: 0.1rem solid rgb(229, 229, 229);
}
.cart__contenedor__box__resumen__total {
  margin-bottom: 3rem;
}
.cart__contenedor__box__resumen__total span {
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(10, 10, 10);
}
.cart__contenedor__box__resumen__form .btn {
  width: 100%;
  text-align: center;
  display: block;
}

.contacto__contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 5rem;
}
@media only screen and (max-width: 62em) {
  .contacto__contenedor {
    grid-template-columns: 1fr;
  }
}
.contacto__contenedor__col h2 {
  font-size: 2.4rem;
  color: rgb(10, 10, 10);
  font-weight: 300;
}
.contacto__contenedor__col p {
  font-size: 1.4rem;
  color: rgb(115, 115, 115);
  margin-top: 3rem;
  line-height: 2.4rem;
  font-weight: 300;
}
.contacto__contenedor__col__data {
  display: flex;
  margin-bottom: 2rem;
  gap: 1.5rem;
}
.contacto__contenedor__col__data__iconBox {
  background-color: rgb(245, 245, 245);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto__contenedor__col__data__iconBox i {
  font-size: 1.8rem;
}
.contacto__contenedor__col__data__info {
  display: flex;
  flex-direction: column;
}
.contacto__contenedor__col__data__info span:first-child {
  font-size: 1.2rem;
  color: rgb(163, 163, 163);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.contacto__contenedor__col__data__info span:last-child {
  font-size: 1.6rem;
  color: rgb(23, 23, 23);
  font-weight: 300;
}
.contacto__contenedor__col__horarios {
  display: flex;
  justify-content: space-between;
}
.contacto__contenedor__col__horarios:not(:last-child) {
  margin-bottom: 1rem;
}
.contacto__contenedor__col__horarios span:first-child {
  color: rgb(115, 115, 115);
  font-size: 1.4rem;
}
.contacto__contenedor__col__horarios span:last-child {
  color: rgb(23, 23, 23);
  font-size: 1.4rem;
}
.contacto__contenedor__col:last-child {
  background-color: rgb(250, 250, 250);
  padding: 4rem 5rem;
}

.auth {
  margin-top: 9.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
@media only screen and (max-width: 48em) {
  .auth {
    grid-template-columns: 1fr;
  }
}
.auth__picture {
  position: relative;
}
@media only screen and (max-width: 48em) {
  .auth__picture {
    display: none;
  }
}
.auth__picture img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.auth__picture .gradiente {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.auth__picture .text {
  bottom: 5rem;
  left: 5rem;
}
.auth__picture .text h2 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.auth__picture .text p {
  font-size: 3rem;
  color: white;
  font-weight: 300;
}
.auth__picture .gradiente,
.auth__picture .text {
  position: absolute;
}
.auth__databox {
  padding: 7rem 5rem;
}
.auth__databox p {
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.auth__databox h1 {
  color: rgb(10, 10, 10);
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.auth__databox__redirect {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.4rem;
  color: rgb(115, 115, 115);
}
.auth__databox__redirect a {
  color: rgb(10, 10, 10);
  font-weight: 500;
}

.navbar {
  background-color: rgb(10, 10, 10);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar__top {
  padding: 3rem;
  border-bottom: 0.1rem solid rgb(50, 50, 50);
}
.navbar__top h2 {
  color: white;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.navbar__top p {
  font-size: 1.4rem;
  color: rgb(115, 115, 115);
  text-transform: capitalize;
  margin-top: 1rem;
}
.navbar__menu {
  padding: 3rem 1rem;
}
.navbar__menu__link {
  display: block;
  color: rgb(163, 163, 163);
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.navbar__menu__link:hover {
  background-color: rgb(38, 38, 38);
}
.navbar__menu__link:not(:last-child) {
  margin-bottom: 1rem;
}
.navbar__menu__link i {
  margin-right: 1.5rem;
}
.navbar__bottom {
  margin-top: auto;
  padding: 3rem;
}
.navbar__bottom a {
  font-size: 1.6rem;
  color: rgb(163, 163, 163);
}
.navbar__bottom a i {
  margin-right: 1.5rem;
}

.contenido {
  padding: 4rem 3rem;
  background-color: #fafafa;
  overflow-y: scroll;
}
.contenido__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.contenido__header h1 {
  font-size: 3.2rem;
  color: rgb(10, 10, 10);
  font-weight: 300;
  margin-bottom: 1rem;
}
.contenido__header p {
  color: rgb(115, 115, 115);
  font-size: 1.6rem;
  font-weight: 300;
}
.contenido__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.contenido__cards__item {
  background-color: white;
  border: 0.1rem solid rgb(230, 230, 230);
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenido__cards__item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contenido__cards__item:nth-child(1) .contenido__cards__item__iconBox {
  background-color: rgb(191, 219, 254);
}
.contenido__cards__item:nth-child(1) i {
  color: rgb(37, 99, 235);
}
.contenido__cards__item:nth-child(2) .contenido__cards__item__iconBox {
  background-color: rgb(187, 247, 208);
}
.contenido__cards__item:nth-child(2) i {
  color: rgb(22, 163, 74);
}
.contenido__cards__item:nth-child(3) .contenido__cards__item__iconBox {
  background-color: rgb(237, 233, 254);
}
.contenido__cards__item:nth-child(3) i {
  color: rgb(147, 51, 234);
}
.contenido__cards__item:nth-child(4) .contenido__cards__item__iconBox {
  background-color: rgb(254, 215, 213);
}
.contenido__cards__item:nth-child(4) i {
  color: rgb(234, 88, 12);
}
.contenido__cards__item:nth-child(1) .contenido__cards__item__iconBox {
  background-color: rgb(191, 219, 254);
}
.contenido__cards__item:nth-child(1) i {
  color: rgb(37, 99, 235);
}
.contenido__cards__item:nth-child(1) .contenido__cards__item__iconBox {
  background-color: rgb(191, 219, 254);
}
.contenido__cards__item:nth-child(1) i {
  color: rgb(37, 99, 235);
}
.contenido__cards__item__data h2 {
  font-size: 1.6rem;
  color: rgb(115, 115, 115);
  font-weight: 400;
}
.contenido__cards__item__data p {
  color: rgb(10, 10, 10);
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 300;
}
.contenido__cards__item__iconBox {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
}
.contenido__cards__item__iconBox i {
  font-size: 2rem;
}
.contenido__bottom {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: start;
  gap: 3rem;
}
.contenido__bottom__grafico, .contenido__bottom__pedidos {
  background-color: white;
  border: 0.1rem solid rgb(230, 230, 230);
  border-radius: 1rem;
  padding: 3rem;
}
.contenido__bottom__grafico__top {
  display: flex;
  justify-content: space-between;
}
.contenido__bottom__grafico__top h2 {
  font-size: 2rem;
  font-weight: 300;
}
.contenido__bottom__grafico__top div {
  color: rgb(22, 163, 74);
  font-size: 2rem;
}
.contenido__bottom__pedidos h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.contenido__bottom__pedidos__item {
  display: flex;
  justify-content: space-between;
}
.contenido__bottom__pedidos__item__col__nombre, .contenido__bottom__pedidos__item__col__precio {
  font-size: 1.6rem;
  color: rgb(10, 10, 10);
  font-weight: 500;
}
.contenido__bottom__pedidos__item__col__fecha {
  color: rgb(163, 163, 163);
  font-size: 1.4rem;
}
.contenido__bottom__pedidos__item__col__pendiente {
  font-size: 1.2rem;
  background-color: rgb(254, 249, 195);
  color: rgb(133, 77, 14);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contenido__bottom__pedidos__item__col:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contenido__prodSearch {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}
.contenido__prodSearch__box {
  position: relative;
}
.contenido__prodSearch__box i {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(163, 163, 163);
  font-size: 1.4rem;
}
.contenido__prodSearch__box input {
  outline: 0;
  border: 0.1rem solid rgb(229, 229, 229);
  font-size: 1.4rem;
  padding: 1rem 1rem 1rem 4rem;
  border-radius: 0.5rem;
  width: 100%;
}
.contenido__prodSearch__box input:focus {
  border-color: rgb(10, 10, 10);
  transition: all 0.2s;
}
.contenido__table__header {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 2fr 2fr 1fr;
  border-bottom: 0.1rem solid rgb(230, 230, 230);
  padding-bottom: 2rem;
}
.contenido__table__header div {
  color: rgb(115, 115, 115);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
}
.contenido__table__body {
  background-color: white;
}
.contenido__table__body__item {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 2fr 2fr 1fr;
}
.contenido__table__body__item div {
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.contenido__table__body__item div img {
  width: 100%;
}
.contenido__table__body__item div h3 {
  color: rgb(10, 10, 10);
  font-size: 1.5rem;
}
.contenido__table__body__item div .destacado {
  font-size: 1.2rem;
  display: inline-block;
  background-color: rgb(254, 249, 195);
  color: rgb(133, 77, 14);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contenido__table__body__item div:nth-child(3) {
  color: rgb(82, 82, 82);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.contenido__table__body__item div:nth-child(4) {
  color: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.contenido__table__body__item div:nth-child(5) {
  display: flex;
  align-items: center;
}
.contenido__table__body__item div:nth-child(5) span {
  border: 0.1rem solid rgb(187, 247, 208);
  color: rgb(22, 163, 74);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.contenido__table__body__item div:nth-child(6) {
  display: flex;
  align-items: center;
}
.contenido__table__body__item div:nth-child(6) span {
  border-radius: 0.8rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contenido__table__body__item div:nth-child(6) span.activo {
  background-color: rgb(187, 247, 208);
  color: rgb(22, 163, 74);
}
.contenido__table__body__item div:nth-child(6) span.inactivo {
  background-color: rgb(254, 215, 213);
  color: rgb(234, 88, 12);
}
.contenido__table__body__item div:nth-child(7) {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contenido__table__body__item div:nth-child(7) button, .contenido__table__body__item div:nth-child(7) a {
  font-size: 1.6rem;
  border: none;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1rem;
}
.contenido__table__body__item div:nth-child(7) button:first-child, .contenido__table__body__item div:nth-child(7) a:first-child {
  color: rgb(147, 51, 234);
}
.contenido__table__body__item div:nth-child(7) button:first-child:hover, .contenido__table__body__item div:nth-child(7) a:first-child:hover {
  background-color: rgb(237, 233, 254);
}
.contenido__table__body__item div:nth-child(7) button:last-child, .contenido__table__body__item div:nth-child(7) a:last-child {
  color: rgb(234, 88, 12);
}
.contenido__table__body__item div:nth-child(7) button:last-child i, .contenido__table__body__item div:nth-child(7) a:last-child i {
  pointer-events: none;
}
.contenido__table__body__item div:nth-child(7) button:last-child:hover, .contenido__table__body__item div:nth-child(7) a:last-child:hover {
  background-color: rgb(254, 215, 213);
}
.contenido__mensajes {
  margin-top: 3rem;
  border-radius: 1rem;
  overflow: hidden;
}
.contenido__mensajes__item {
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  cursor: pointer;
}
.contenido__mensajes__item:hover {
  background-color: rgb(250, 250, 250);
}
.contenido__mensajes__item:not(:last-child) {
  border-bottom: 0.1rem solid rgb(230, 230, 230);
}
.contenido__mensajes__item__iconbox {
  font-size: 2rem;
  color: rgb(163, 163, 163);
  background-color: rgb(245, 245, 245);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido__mensajes__item__data h3 {
  font-size: 1.6rem;
  color: rgb(10, 10, 10);
  margin-bottom: 1rem;
}
.contenido__mensajes__item__data p {
  color: rgb(115, 115, 115);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.contenido__mensajes__item__fecha {
  color: rgb(163, 163, 163);
  font-size: 1.4rem;
}

.formulario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.formulario.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}
.formulario__box {
  background-color: white;
  padding: 3rem 3rem;
  border-radius: 1rem;
  position: relative;
  width: 40%;
}
.formulario__box h2 {
  font-size: 2.1rem;
  color: rgb(10, 10, 10);
  font-weight: 300;
}
.formulario__box .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  color: rgb(10, 10, 10);
  cursor: pointer;
  padding: 1rem;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 12% 1fr;
}

/*# sourceMappingURL=estilos.css.map */
