// breakpoints
$bp-extraLarge: 75em; // 16px * 75 = 1200px
$bp-large: 62em; // 16px * 62.5 = 1000px
$bp-medium: 48em; // 16px * 48 = 768px  
$bp-small: 36em; // 16px * 36 = 576px
$bp-extraSmall: 26.25em; // 16px * 26.25 = 420px
$bp-micro: 23.75em; // 16px * 23.75 = 380px

// colores
$color-azul: rgb(37, 99, 235);
$color-azulClaro: rgb(191, 219, 254);

$color-verde: rgb(22, 163, 74);
$color-verdeClaro: rgb(187, 247, 208);

$color-morado: rgb(147, 51, 234);
$color-moradoClaro: rgb(237, 233, 254);

$color-rojo: rgb(234, 88, 12);
$color-rojoClaro: rgb(254, 215, 213);